OC_DOCKER_TAG=7.4.0

LOG_LEVEL=debug
LOG_PRETTY=true

OC_DOMAIN= #opencloud domain cloud.example.com
OC_CONFIG_DIR=/opt/container-data/opencloud/config
OC_DATA_DIR=/opt/container-data/opencloud/data
OC_APPS_DIR=/opt/container-data/opencloud/app

INITIAL_ADMIN_PASSWORD= # initial admin password for opencloud

EURO_OFFICE_DOMAIN= # docs.example.com
EURO_OFFICE_JWT_SECRET= # euro office secret for wopi stuff

WOPISERVER_DOMAIN= # add wopiserver.example.com

DECOMPOSEDS3_ENDPOINT= # S3 bucket endpoint
DECOMPOSEDS3_REGION=us-east-1
DECOMPOSEDS3_ACCESS_KEY= # S3 access key
DECOMPOSEDS3_SECRET_KEY= # S3 secret key
DECOMPOSEDS3_BUCKET=opencloud


SMTP_HOST= # mail.example.com
SMTP_PORT=587
SMTP_SENDER= # no-reply@example.com 
SMTP_USERNAME= # no-reply@example.com 
SMTP_PASSWORD= # required
SMTP_INSECURE=false
SMTP_AUTHENTICATION=plain
SMTP_ENCRYPTION=starttls
