UPLOAD_LOCATION=/opt/container-data/immich/mount/library
DB_DATA_LOCATION=/opt/container-data/immich/postgres
THUMB_LOCATION=/opt/container-data/immich/thumbs
ENCODED_VIDEO_LOCATION=/opt/container-data/immich/encoded-videos
EXTERNAL_LIB_LOCATION=/opt/container-data/immich/mount

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

IMMICH_VERSION="release"
# IMMICH_TELEMETRY_INCLUDE=all

DB_PASSWORD= # required 

IMMICH_API_KEY= # for immich power tools

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich



IMMICH_URL=http://immich-server:2283
EXTERNAL_IMMICH_URL=https://fotos.gladden.uk
DB_HOST=database
DB_PORT=5432
