OMPOSE_PROJECT_NAME=paperless-ngx
PAPERLESS_OCR_LANGUAGES=eng por
PAPERLESS_ENABLE_ALLAUTH=true
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect": {"APPS": [{"provider_id": "pocketid","name": "Pocket ID","client_id": "<client id>","secret": "<client secret>","settings": {"server_url": "https://<pocket id url>/.well-known/openid-configuration","claims": {"username": "email"}}}],"OAUTH_PKCE_ENABLED": "True"}}
PAPERLESS_AUTO_LOGIN=true
PAPERLESS_AUTO_CREATE=true
PAPERLESS_LOGOUT_REDIRECT_URL="https://<paperless url>/accounts/oidc/authentik/login/callback/"
PAPERLESS_URL=https://<paperless url>
PAPERLESS_SECRET_KEY= # secret key
PAPERLESS_DISABLE_REGULAR_LOGIN=false
PAPERLESS_CONSUME_DIR=/usr/src/paperless/consume
