OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_PROVIDER_NAME=Pocket ID
OPENID_PROVIDER_URL=https://auth_url/.well-known/openid-configuration
OPENID_REDIRECT_URI=https://openwebui_url/oauth/oidc/callback
WEBUI_URL=https://openwebui_url
ENABLE_OAUTH_SIGNUP=true
ENABLE_LOGIN_FORM=false
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
